@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Goldman', cursive;
}
body{
    height: 100vh;
    width: 100%;
    background: rgb(44,62,80);
    background: linear-gradient(0deg, rgba(44,62,80,1) 0%, rgba(189,195,199,1) 100%);
}


.wrapper{
    margin: 120px auto;
    max-width: 400px;
    width: 100%;
    background: rgb(238, 244, 245);
    border-radius: 5px;
    padding: 25px;
}

.wrapper header{
    font-size: 30px;
    font-weight: 600;
}

.wrapper .inputfield{
    display: flex;
    height: 45px;
    width: 100%;
    margin: 20px 0
}

.inputfield input{
    width: 85%;
    height: 100%;
    outline: none;
    border: 1px solid #ccc;
    font-size: 18px;
    border-radius: 4px;
    padding-left:25px;
}

.inputfield button{
    width: 60px;
    height: 100%;
    border: none;
    outline: none;
    background: rgb(13, 10, 111);
    color: white;
    font-size: 23px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 7px;
    opacity: 0.6;
    pointer-events: none;
}
.inputfield button.active{
    opacity: 1;
    pointer-events: auto;
}
.wrapper .todo{
    max-height: 250px;
    overflow-y: auto;
}

.todo li{
    list-style: none;
    height: 45px;
    line-height: 45px;
    position: relative;
    background: #d6f5f8;
    border-radius: 3px;
    margin-bottom: 5px;
    padding: 0 15px;
    cursor: default;
    overflow: hidden;
}

.todo li span{
    position: absolute;
    right: -45px;
    color: #000;
    width: 45px;
    text-align: center;
    background: rgb(255, 66, 66);
    border: 0 3px 3px 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.todo li:hover span{
    right: 0px;
}

.wrapper .foot{
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}

.foot button{
    border: none;
    outline: none;
    background: rgb(13, 10, 111);
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    padding: 6px  10px;
    opacity: 0.6;
    pointer-events: none;

}

.foot button.active{
    opacity: 1;
    pointer-events: auto;
}